.container1 {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
    
}

.coin-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 0 3rem;
 
    margin: auto;
}


.coin-name {
    margin-left: -4rem;
    
}

.coin-symbol-name {
    font-weight: bold;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
    padding: .7rem 1rem; 
    border-bottom: 1px solid #d7d7d7;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
}

.coin-img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}


.img-symbol {
    display: flex;
    align-items: center;
}

.red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}